<!DOCTYPE html>
<html>
<head>
<title>Classnap</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
<head>
<body onload="initTranscript(); initSummary()">

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <div class="w3-center" style="display: flex; align-items: center; justify-content: center;">
    <div>
      <h4>NAP IN CLASS</h4>
      <h1 class="w3-xxxlarge w3-animate-bottom">CLASSNAP</h1>
    </div>
  </div>
</header>

<div class="w3-row-padding w3-center w3-margin-top">
  <div class="w3-half" style="display: inline-block; width: 49%; vertical-align: top; overflow-x: hidden;">
    <div class="w3-card w3-container" style="min-height:460px; overflow-y: scroll; max-height: 460px; overflow-y: scroll; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ border-bottom: 1px solid #ccc">
      <h3>Transcript</h3><br>
      <p id="transcript"></p>
    </div>
  </div>
  <div class="w3-half" style="display: inline-block; width: 49%; vertical-align: top; overflow-x: hidden;">
    <div class="w3-card w3-container" style="min-height:460px; overflow-y: scroll; max-height: 460px; overflow-y: scroll; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ border-bottom: 1px solid #ccc">
      <h3>Summary</h3><br>
      <p id="summary" style="text-align: left;"></p>
    </div>
  </div>
</div>

<style>
  /* hide the scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }
</style>

</div>

<script>
  
// scroll the transcript div to the bottom

function initTranscript() {
  const transcriptFile = './transcript';

  fetch(transcriptFile)
    .then(response => response.text())
    .then(transcript => {
      const transcriptElement = document.getElementById('transcript');
      const isScrolledToBottom = transcriptElement.scrollHeight - transcriptElement.clientHeight <= transcriptElement.scrollTop + 1;

      transcriptElement.innerHTML = transcript;

      if (!isScrolledToBottom && transcriptElement.scrollHeight > transcriptElement.clientHeight) {
        transcriptElement.scrollTop = transcriptElement.scrollHeight - transcriptElement.clientHeight;
      }
    })
    .catch(error => console.error(`Error fetching transcript: ${error}`));
}

  setInterval(initTranscript, 500);


  function initSummary() {
  const summaryFile = './summary';

  // Fetch the summary from the local file
  fetch(summaryFile)
    .then(response => response.text())
    .then(summary => {
      const summaryElement = document.getElementById('summary');
      const isScrolledToBottom = summaryElement.scrollHeight - summaryElement.clientHeight <= summaryElement.scrollTop + 1;

      // Update the summary element with the new summary
      summaryElement.innerHTML = summary;

      // If the summary element isn't scrolled to the bottom and the new summary is different, scroll to the bottom
      const newIsScrolledToBottom = summaryElement.scrollHeight - summaryElement.clientHeight <= summaryElement.scrollTop + 1;
      const isNewSummaryDifferent = summaryElement.innerHTML !== summary;
      if (!newIsScrolledToBottom && isNewSummaryDifferent) {
        summaryElement.scrollTop = summaryElement.scrollHeight - summaryElement.clientHeight;
      }
    })
    .catch(error => console.error(`Error fetching summary: ${error}`));
}

setInterval(initSummary, 500);

</script>

<hr>
<div class="w3-center">
  <h2>Features</h2>
  <p class="w3-large">Ever wanted to just nap in class? Well, now you can! It'll automatically work so long as you allow mic access. Transcript is error-prone if you're not at the front :)</p>
</div>
<br>

<!-- <a class="w3-button w3-circle w3-large w3-black"><i class="fa fa-plus"></i></a> -->

</body>
</html>