<!DOCTYPE html>
<html>
<head>
<title>Classnap</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-teal.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<!-- <body onload="initTranscript(); initSummary(); initLogo()"> -->
<body onload="initTranscript(); initSummary()">

<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <!-- <div class="w3-left" style="width: 200px;">
    <!-- Logo is in files/logo.jpg -->
    <!-- <img id="logo" alt="logo" style="width: 200px; max-height: 200px;"/>
  </div> -->
  <div class="w3-center" style="display: flex; align-items: center; justify-content: center;">
    <div>
      <h4>NAP IN CLASS</h4>
      <h1 class="w3-xxxlarge w3-animate-bottom">CLASSNAP</h1>
    </div>
  </div>
</header>

<div class="w3-row-padding w3-center w3-margin-top">
<div class="w3-half">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Transcript</h3><br>
  <p id="transcript"></p>
  </div>
</div>

<div class="w3-half">
  <div class="w3-card w3-container" style="min-height:460px">
  <h3>Summary</h3><br>
  <p id="summary"></p>
  </div>
</div>

</div>

<script>
function initTranscript() {
    const transcriptFile = './transcript';
  
    // Fetch the transcript from the local file
    fetch(transcriptFile)
      .then(response => response.text())
      .then(transcript => {
        // Update the transcript element with the new transcript
        document.getElementById('transcript').innerHTML = transcript;
      })
      .catch(error => console.error(`Error fetching transcript: ${error}`));
  }

  setInterval(initTranscript, 500);


function initSummary() {
    const summaryFile = './summary';

  // Fetch the summary from the local file
  fetch(summaryFile)
    .then(response => response.text())
    .then(summary => {
      // Update the summary element with the new summary
      document.getElementById('summary').innerHTML = summary;
    })
    .catch(error => console.error(`Error fetching summary: ${error}`));
}

setInterval(initSummary, 500);

// function initLogo() {
//     const logoFile = './logo';

//     fetch(logoFile)
//     .then(response => response.blob())
//     .then(logo => {
//     // Create an object URL from the logo data and set it as the source of the logo element
//     const objectURL = URL.createObjectURL(logo);
//     document.getElementById('logo').src = objectURL;
//     })
//     .catch(error => console.error('Error fetching logo: ${error})'));
// }
</script>

<hr>
<div class="w3-center">
  <h2>Features</h2>
  <p class="w3-large">Ever wanted to just nap in class? Well, with this you can! It'll automatically work so long as you allow mic access.</p>
</div>
<br>

<!-- <a class="w3-button w3-circle w3-large w3-black"><i class="fa fa-plus"></i></a> -->

</body>
</html>